<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>
		<!--Заголовок_страницы-->
		</title>
    <link type="text/css" rel="stylesheet" href="../res/main.css" />

</head>
<body>
<div id="main">
    <div id="container_1">
        <div id="container_2">
                       <div id="right_col">
     				
				
<div id="top" ><a  href="../index.html" title="Главная"><img id="logo" src="../res/logo.png" height="29px" width="265px" title="Storozhenko" alt="Storozhenko" ></img></a></div>
			
<div id="radius" align="right"><!--#меню -->


 <div class="button-1"><a id="linksm" href="../digital/digital1.html" title="Цифровая живопись">Цифровая живопись</a></div> 
 <div class="button-2" height="39"><a id="linksm" href="../concept/concept1.html" title="Концепт Арт">Концепт Арт</a></div> 
 <div class="button-3" height="39"><a id="linksm" href="../tradart/tradart1.html" title="Традиционное" >Традиционное</a></div> 
 <div class="button-4" height="39"><a id="linksm" href="../music/music1.html" title="Музыка">Музыка</a></div> 
 <div class="button-8" height="39"><a id="linksm" href="../webdev/webdev1.html" title="Веб разработка">Веб разработка</a></div> 
 <div class="button-5" height="39"><a id="linksm" href="../blog/blog1.html" title="Блог">Блог</a></div> 
 <div class="button-7" height="39"><a id="linksm" href="../contact/contact1.html" title="Контакты">Контакты</a></div> 
 <div class="button-6" height="39"><a id="linksm" href="../links/links1.html" title="Ссылки">Ссылки</a></div>

 

</div>
<!--#Подменю -->
<div>
<!--Условный:если_это_стартовая-->
<!--Контент_Новое-->
</div>
<!--Условный:close_tag-->
				
					
<div align="center" width="100%"><div id="position-top"><div id="copyright">Все права защищены<br />bouler-arts © 2005-2011 <br /> Storozhenko © 2011 <br />дизайн storozhenko.org<br /><!----></div>
</div>
</div> <div class="button-9" height="39"><a id="RSS" href="../rss.xml" title="RSS" alt="RSS">RSS</a></div>
</div>
    	
<div id="left_col">
<div id="name2"><div><sup id="album">«
<!--Название_рубрики(страницы)-->
»</sup><sup><a id="album_marker" href="#bottom" title="пролистать вниз" alt="пролистать вниз">вниз</a></sup>
<sup id="switch_top">
<!--Переключатель_страниц-->
</sup>
</div></div>
<!--Контент-->
<div id="name1"><div><sup id="album"><br /><br />«
<!--Название_рубрики(страницы)-->
»</sup><sup><a id="album_marker" href="#top" title="пролистать вверх" alt="пролистать вверх">вверх</a></sup>

<sup  id="switch_top">
<!--Переключатель_страниц-->
</sup>
<div id="bottom"></div>
</div></div>

</div>  
    
</div>
</div>
</div>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-22868108-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<!--Openstat-->
<span id="openstat2201166"></span>
<script type="text/javascript">
var openstat = { counter: 2201166, next: openstat, track_links: "all" };
(function(d, t, p) {
var j = d.createElement(t); j.async = true; j.type = "text/javascript";
j.src = ("https:" == p ? "https:" : "http:") + "//openstat.net/cnt.js";
var s = d.getElementsByTagName(t)[0]; s.parentNode.insertBefore(j, s);
})(document, "script", document.location.protocol);
</script>
<!--/Openstat-->
</body>
</html>
